<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta charset="utf-8" />
	<title>Event log adjusts</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" th:href="@{/css/all.css}" />
	<link rel="stylesheet" th:href="@{/css/jquery-ui.accordion.min.css}" />
	<link rel="stylesheet" th:href="@{/css/jquery.nouislider.min.css}" />
	<link rel="stylesheet" th:href="@{/css/adjust.css}" />
	<link rel="stylesheet" th:href="@{http://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css}" />
	
	
</head>
<body>
	<span th:include="commun/header :: process-menu (active=2)"></span>

	<div id="split-container">

		<div id="doc-menus">
			<div style="
			    background: transparent;
			    color: white;
			    text-shadow: 1px 1px black;
			    position: relative;
			    float: left;
			    display: block;
			    padding: 11px;
			">
				<h4 style="text-align: center;">Variáveis obrigatórias para mineração.</h4> 
				<div style="color: white;text-shadow: 0px 0px;">Selecionadas <span>3</span>/5</div>
			</div>
		
			<div id="accordion">
				
			</div>

		</div>


	</div>
	<div id="adjust-container"> 
	</div>

	<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
	<script th:src="@{http://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/jquery.browser.min.js}"></script>
	<script th:src="@{/js/jquery-ui.accordion.min.js}"></script>
	<script th:src="@{/js/all.js}"></script>
	<script th:src="@{/js/view/adjust.js}"></script>

</body>
</html>