<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="utf-8" />
<title>Database process documentation</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/all.css}" />
<link rel="stylesheet" th:href="@{/css/dropzone.css}" />
<link rel="stylesheet" th:href="@{/css/home.css}" />

</head>
<body>
	<span th:include="commun/header :: process-menu (isHome=true)"></span>

	<div class="container" id="container-main">
		<div class="jumbotron">
			<h2>Know better your processes</h2>
			<h4 class="second-title">
				UNDERSTAND YOUR DATA AND DISCOVER HOW TO <span>IMPROVE</span> !
			</h4>
			<div class="row reduce">
				<div class="col-md-3">
					<img th:src="@{/img/home/upload.png}" />
					<div>Upload your data</div>
				</div>
				<div class="col-md-3">
					<img th:src="@{/img/home/adjust.png}" />
					<div>Adjust it</div>
				</div>
				<div class="col-md-3">
					<img th:src="@{/img/home/visualize.png}" />
					<div>Visualize statistics</div>
				</div>
				<div class="col-md-3">
					<img th:src="@{/img/home/replay.png}" />
					<div>Replay the events</div>
				</div>
			</div>
			<img th:src="@{/img/home/mining-ico.png}"
				style="margin: 33px; width: 160px;" /> <span
				style="font-size: 24px;"> Go deeper</span>
			<br/><br/>
			<div style="line-height:20px" >
			<a href="/resources/samples/running-example.csv" title="CSV sample" >Download a sample CSV data<br/> <span style="font-size:14px; color:#333">Rigth click and save as..</span></a>
			</div>
		</div>
		<div class="jumbotron">
			<form action="/upload" id="processDropzone" class="dropzone"
				enctype="multipart/form-data"></form>
		
		</div>

	</div>

	<div class="modal fade" role="dialog" id="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body" style="padding: 35px;">
					<img th:src="@{/img/home/adjusting-data.gif}" style="float: left" />
					<h1
						style="text-align: center; margin: 0; padding: 28px 0px; font-size: 32px;">Adjusting
						and validating your file.</h1>
				</div>

			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<span th:include="commun/footer :: footer"></span>

	<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/home/dropzone.js}"></script>
	<script th:src="@{/js/home/home.js}"></script>

</body>
</html>