<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta charset="utf-8" />
        <title>Database process documentation</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{/css/all.css}"/>
        <link rel="stylesheet" th:href="@{/css/jquery-ui.accordion.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/jquery.nouislider.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/svg.css}"/>
        <link rel="stylesheet" th:href="@{/css/visualization.css}"/>
		<link rel="stylesheet" th:href="@{/css/process/xtrace.css}" type="text/css"/>
		<link rel="stylesheet" th:href="@{/css/process/tipsy.css}" type="text/css"/>
        
    </head>
    <body>
    	<span th:include="commun/header :: process-menu (active=3)"></span>
    
 		<div id="split-container">
            
            <div id="doc-menus">
				<div id="accordion">
				  <h3 id="h3Densidade">Densidade</h3>
				  <div>
						<div class="sliders" id="densitySlider"></div>
						<div class="sliders" id="activitySlider"></div>
				  </div>
				  <h3 id="h3Atividades">Atividades</h3>
				  <div>
				    <ul id="list-activities"></ul>
				  </div>
				 
				  <h3 id="h3Estatisticas">Estatísticas</h3>
				  <div id="docs" class="docs">
				    <p>
				    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
				    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
				    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
				    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
				    </p>
				    <ul>
				      <li>List item one</li>
				      <li>List item two</li>
				      <li>List item three</li>
				    </ul>
				  </div>
				  <h3 id="h3Conformidade">Conformidade</h3>
				  <div>
				  	<br/>
				  	<a class="btn btn-default" href="#">Replay</a><br/><br/>
				  	Esta execução irá animar o comportamento das instâncias desse processo, possibilitando
				  	a visualização dos seguintes problemas :
				  	<ul>
				      <li>Repetições de ciclos</li>
				      <li>Gargalos/Atrasos</li>
				    </ul>
				  	<br/>
				  	<a class="btn btn-default" href="#">Exportar Processo</a><br/><br/>
				  	Transforme o processo gerado em um formato utilizável por outras ferramentas.
				  </div>
				</div>            	

            	
            
            </div>
            <div id="graph-container">
                <div id="graph" ></div>
            </div>
            
            
        </div>
        
        <script th:src="@{/js/jquery-1.10.2.min.js}"></script>
        <script th:src="@{/js/jquery.browser.min.js}"></script>
        <script th:src="@{/js/jquery-ui.accordion.min.js}"></script>
        <script th:src="@{/js/jquery.nouislider.min.js}"></script>
        <script th:src="@{/js/d3.v3.min.js}"></script>
        <script th:src="@{/js/colorbrewer.js}"></script>
        <script th:src="@{/js/geometry.js}"></script>
        
		<script type="text/javascript" th:src="@{/js/process/dagre.js}"></script>
		<script type="text/javascript" th:src="@{/js/process/Graph.js}"></script>
		<script type="text/javascript" th:src="@{/js/process/DirectedAcyclicGraph.js}"></script>
		<script type="text/javascript" th:src="@{/js/process/DirectedAcyclicGraphMinimap.js}"></script>
		<script type="text/javascript" th:src="@{/js/process/DirectedAcyclicGraphAnimationBar.js}"></script>
		<script type="text/javascript" th:src="@{/js/process/DirectedAcyclicGraphHistory.js}"></script>
		<script type="text/javascript" th:src="@{/js/process/DirectedAcyclicGraphTooltip.js}"></script>
		<script type="text/javascript" th:src="@{/js/process/DirectedAcyclicGraphContextMenu.js}"></script>
		<script type="text/javascript" th:src="@{/js/process/utils/MinimapZoom.js}"></script>
		<script type="text/javascript" th:src="@{/js/process/utils/List.js}"></script>
		<script type="text/javascript" th:src="@{/js/process/utils/Selectable.js}"></script>
		<script type="text/javascript" th:src="@{/js/process/utils/jquery.tipsy.js}"></script>
		<script type="text/javascript" th:src="@{/js/process/ProcessMiningUtils.js}"></script>
		<script type="text/javascript" th:src="@{/js/process/ProcessMiningViewportController.js}"></script>
     

</body></html>