body {
  background: url(../img/background.png) repeat;
}

.head-nav .nav {
	width: 100%;
    height: 60px;
    background: #555;
    border: 1px solid black;
    box-shadow: 1px 0px 1px #999;
    margin-bottom: 20px;
}

.head-nav .nav.fixed {
	position:fixed;
	top: 0px;
  	z-index: 10;
}

.head-nav .nav .nav-title{
    text-align: center;
    float: left;
    padding: 6px 11px;
    font-family: -webkit-pictograph;
    font-weight: bolder;
    line-height: 20px;
    color: white;
    font-size: 19px;
    text-shadow: 1px 1px 1px #000;
}
.head-nav .nav a.disabled:hover{
	cursor:default;
}

.head-nav .nav a.nav-title:hover{
	text-decoration:none;
	color : #FFF;
}

.head-nav .nav .nav-title span{
    font-size: 31px;
}

.head-nav .nav .nav-button{
    margin-left: 5px;
    padding: 19px 29px;
    float: left;
    position: initial;
    display: block;
    font-weight: bold;
    color: #eee;
    text-shadow: 1px 1px 0px #000;
}

.head-nav .nav .nav-button:hover,
.head-nav .nav .nav-button:active, 
.head-nav .nav .nav-button:visited, 
.head-nav .nav .nav-button:focus{
	text-decoration: none;
}

.head-nav .nav .nav-button.active{
	color: #fff;
	background: #666;
}

.head-nav .nav.home .nav-button{
  display: none;
  position: absolute;
}

.head-nav .nav.home .nav-title{
  display: block;
  font-size: 40px;
  line-height: normal;
  width:100%;
}
.head-nav .nav.home .nav-title br{
	display:none;
}

.head-nav .nav.home  .nav-title span{
 font-size: inherit;
}

.tab-content{
	background-color: #FFF;
	height: 379px;
	border: 1px solid #DDD;
	box-shadow: 1px 1px 1px #444;
	background: #FFF;
	margin: -1px 0 0 0;
	padding: 1em 1em;
	min-width: 250px;
}
