/* Space out content a bit */

a.analysis-list {
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid #eee;
    margin: 5px 0;
    color: #64CA42;
    font-size: 17px;
    text-align: left;
    box-shadow: 1px 1px 0px #ccc;
}

a.analysis-list:hover {
    text-decoration: none;
    color: green;
    background-color: whitesmoke;
}
a.analysis-list span{
	    margin: 0px 12px 0px 20px;
    color: #496480;
    font-size: 20px;
}

.row.reduce {
	padding: 45px;
}
.row.reduce img {
	width:84px;
	padding: 5px;
}

.row.reduce div {
	line-height:20px;
    font-size: 14px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 830px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background: #f9f9f9;
  box-shadow: 2px 2px 1px #444;
  border: 1px solid #999;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.jumbotron h2{
  color: #333;
  text-shadow: 2px 2px 1px white;
  font-size: 44px;
}
.jumbotron h4{
  color: #777;
  font-size: 17px;
}

.jumbotron h4 span{
	color : #427FCE;
    font-weight: bold;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
