<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <body>
  
    <div th:fragment="process-menu" >
    	<div class="head-nav">
	      	<div class="nav"><a href="#content">Ir para conteudo</a> 	</div>
	    	<div th:class="'nav fixed ' + ${isHome == true ? 'home' : ''}">
	  			<a href="/" class="nav-title">Web Process <br/><span>Miner</span></a>
				
				<a th:class="'nav-button ' + ${active == 1 ? 'active' : ''}" th:href="${active == 2 ? #httpServletRequest.requestURL.toString().replace('process', 'adjust') : '#'}">Adjust Data</a>
				<a th:class="'nav-button ' + ${active == 2 ? 'active' : 'disabled'}" href="#">Analyse Process</a>
				
			</div>
		</div>
    </div>
  
  </body>
  
</html>